<h2 data-toggle="modal" data-target="#edit-collection" class='right-align clickable'>
  <%= fa_icon 'pencil' %>
</h2>

<div class="modal fade" id="edit-collection">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit collection settings</h4>
      </div>
      <div class="modal-body">
        <div class='form-group'>
          <%= form_for @collection, url: collection_path(@collection), method: :patch, remote: true do |f| %>
            <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
            <%= f.check_box :ordered %>
            <%= f.label :ordered, "Order collection", { class: "checkbox inline" } %>
        </div>
      </div>
      <div class="modal-footer">
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
