<div class="row top-margin-lg bottom-margin-lg">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h1 class='center-align'><%= @collection.title %></h1>
    <p class='col-xs-12'>
      <div class='col-xs-4 center-align'>
        <span data-toggle="modal" data-target="#new-tape" class='right-align clickable underline'>
          <%= fa_icon 'plus' %> add tape
        </span>
      </div>
      <div class='col-xs-4 center-align'>
        <span data-toggle="modal" data-target="#edit-collection" class='right-align clickable underline'>
          <%= fa_icon 'wrench' %> settings
        </span>
      </div>
      <div class='col-xs-4 center-align'>
        <span class='underline'><%= fa_icon 'bolt' %> <%= link_to 'finish', collection_path(@collection) %></span>
      </div>
    </p>
  </div>
  <div class="col-xs-2"></div>
</div>
<div id='collection' class="row row-centered bottom-margin-lg" data-reorder-path="<%= collection_reorder_path(@collection) %>">
  <%= render @collection.albums.order('position'), collection: @collection, edit: true %>
</div>

<% if @collection.ordered? %>
  <div id='reorder-script'>
    <%= render 'collections/reorder_script' %>
  </div>
<% end %>

<%= render 'collections/add_model' %>
<%= render 'collections/edit_model' %>
