<div class="row top-margin-lg bottom-margin-lg">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <h1 class='center-align'><%= @collection.title %></h1>
    <p class='center-align'>
      <span class='underline'><%= link_to 'finish editing', collection_path(@collection) %></span>
    </p>
  </div>
  <div class="col-xs-1">
    <%= render 'collections/add_model' %>
  </div>
  <div class="col-xs-1">
    <%= render 'collections/edit_model' %>
  </div>
  <div class="col-xs-1"></div>
</div>
<div id='collection' class="row row-centered bottom-margin-lg" data-reorder-path="<%= collection_reorder_path(@collection) %>">
  <%= render @collection.albums.order('position'), collection: @collection, edit: true %>
</div>

<% if @collection.ordered? %>
  <div id='reorder-script'>
    <%= render 'collections/reorder_script' %>
  </div>
<% end %>
