<div class="row top-margin-lg bottom-margin-lg">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <h1 class='center-align'><%= @collection.title %></h1>
    <p class='center-align'>
      <% if user_signed_in? && current_user.can_edit_collection?(@collection) %>
        Curated by <span class='underline'><%= link_to 'you', user_path(@collection.user) %></span> (<span class='underline'><%= link_to 'edit', edit_collection_path(@collection) %></span>)
      <% else %>
        Curated by <span class='underline'><%= link_to @collection.user.username, user_path(@collection.user) %></span>
      <% end %>
    </p>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-1 center-align">
    <span data-toggle="modal" data-target="#share-collection" class='clickable'>
      <%= fa_icon 'bullhorn' %></br>Share
    </span>
  </div>
  <div class="col-xs-1"></div>
</div>
<div id='collection' class="row row-centered bottom-margin-lg" data-reorder-path="<%= collection_reorder_path(@collection) %>">
  <%= render @collection.albums.order('position'), collection: @collection %>
</div>

<%= render 'collections/share_model' %>
