<div class="row top-margin-lg bottom-margin-lg">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <h1 class='center-align'><%= @user.username %></h1>
  </div>
  <div class="col-xs-3"></div>
</div>
<div id="user-collections" class='bottom-margin-lg'>
  <div class='row row-centered'>
    <% @user.collections.order('created_at DESC').each do |collection| %>
      <div class='collection-preview-wrapper col-centered col-xs-6 col-sm-3'>
        <%= link_to collection_path(collection) do %>
          <div class='collection-preview'>
            <%= render 'collections/preview', collection: collection %>
          </div>
        <% end %>
        <div class='collection-preview-title'>
          <%= link_to collection_path(collection) do %>
            <h4><%= collection.title %></h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
