<div class='album-wrapper col-centered col-xs-4 col-md-2' id="album_<%= album.id %>">
  <div class='album col-xs-12'>
    <% if collection.ordered? %>
      <div class='order'>
        <h3><%= album.position %></h3>
      </div>
    <% end %>
    <div class='album-art'>
      <% unless album.custom? %>
        <%= link_to play_albums_path(album.spotify_id), remote: true do %>
          <%= render 'albums/album_overlay', album: album %>
        <% end %>
      <% end %>
      <% if defined?(edit) %>
        <div class='album-remove'>
          <%= link_to album_path(album.id), remote: true, method: :delete do %>
            <% if album.custom? %>
              <%= fa_icon 'times', class: 'remove-custom' %>
            <% else %>
              <%= fa_icon 'times' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if album.custom? %>
        <div class='custom-album-info'>
          <h3><%= album.name %></h3>
          <h5><%= album.artist %></h5>
          <p><%= album.year %></p>
        </div>
        <%= image_tag 'custom-album-background.png', class: 'img-thumbnail' %>
      <% else %>
        <img class="img-thumbnail" src=<%= album.art %>>
      <% end %>
    </div>
  </div>
</div>