<!DOCTYPE html>
<html>
  <head>
    <title>Tapedeck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='container'>

      <%= yield %>

      <nav class="navbar navbar-fixed-bottom navbar-light bg-faded cd-auto-hide-header">
        <div class='col-xs-3 nopadding'>
          <%= render 'shared/player' %>
        </div>
        <div class='col-xs-6'>
        </div>
        <div class='col-xs-3 nopadding'>
          <div class="btn-group dropup" id='menu-wrapper'>
            <button type="button" id='menu-button' class="btn btn-default" data-toggle="dropdown">
              <%= image_tag 'icon.png', size: '70x70' %>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" id='menu'>
              <li id='menu-item-create' class='menu-item'>
                <span data-toggle="modal" data-target="#new-collection" class='clickable'>
                  <div class='menu-item-icon'>
                    <h3><%= fa_icon 'bolt' %></h3>
                  </div>
                  <div class='menu-item-text'>
                    <h3>Create</h3>
                  </div>
                </span>
              </li>
              <% if user_signed_in? %>
                <%= link_to user_path(current_user) do %>
                  <li id='menu-item-profile' class='menu-item'>
                    <div class='menu-item-icon'>
                      <h3><%= fa_icon 'user' %></h3>
                    </div>
                    <div class='menu-item-text'>
                      <h3>Profile</h3>
                    </div>
                  </li>
                <% end %>
              <% end %>
              <%= link_to random_collections_path do %>
                <li id='menu-item-random' class='menu-item'>
                  <div class='menu-item-icon'>
                    <h3><%= fa_icon 'random' %></h3>
                  </div>
                  <div class='menu-item-text'>
                    <h3>Random</h3>
                  </div>
                </li>
              <% end %>
              <%= link_to root_url do %>
                <li id='menu-item-about' class='menu-item'>
                  <div class='menu-item-icon'>
                    <h3><%= fa_icon 'question-circle-o' %></h3>
                  </div>
                  <div class='menu-item-text'>
                    <h3>About</h3>
                  </div>
                </li>
              <% end %>
              <% if user_signed_in? %>
                <li id='menu-item-sign-out' class='menu-item'>
                  <div class='menu-item-icon'>
                    <h3><%= fa_icon 'sign-out' %></h3>
                  </div>
                  <div class='menu-item-text'>
                    <h3>Sign Out</h3>
                  </div>
                </li>
              <% else %>
                <li id='menu-item-sign-in' class='menu-item'>
                  <div class='menu-item-icon'>
                    <h3><%= fa_icon 'sign-in' %></h3>
                  </div>
                  <div class='menu-item-text'>
                    <h3>Sign In</h3>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal fade" id="new-collection">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Create a New Collection</h4>
            </div>
            <div class="modal-body">
              <div class='form-group'>
                <%= form_for Collection.new, url: collections_path do |f| %>
                  <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
              </div>
            </div>
            <div class="modal-footer">
                <%= f.submit class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
